<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689879589297-f1fht15eeq09qmt67kpouh6krce1jbq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689879589297-f1fht15eeq09qmt67kpouh6krce1jbq5</string>
	<key>API_KEY</key>
	<string>AIzaSyDC5O971plqIzlKz_9bw_hNTjoMVENwmoU</string>
	<key>GCM_SENDER_ID</key>
	<string>689879589297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yle.Week12Xibs</string>
	<key>PROJECT_ID</key>
	<string>realestate-e0b27</string>
	<key>STORAGE_BUCKET</key>
	<string>realestate-e0b27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689879589297:ios:25b52cbe90fe163cfa5d90</string>
</dict>
</plist>